<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Us</title>
    <link rel="shortcut icon" href="https://github.com/hassantarif1/Music-App/blob/main/app/assets/images/Safari%20Icons%20%E2%80%93%20Free%20Vector%20Download,%20PNG,%20SVG,%20GIF.png">
    <link rel="apple-touch-icon" href="https://github.com/hassantarif1/Music-App/blob/main/app/assets/images/Safari%20Icons%20%E2%80%93%20Free%20Vector%20Download,%20PNG,%20SVG,%20GIF.png">
</head>
<body>
    
</body>
</html>