<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.email %>, </h1>
    <p>
      You have successfully signed up to MusicMe
      Please activate your account by visiting this link:
      <a href="<%= activate_users_url(:activation_token => @user.activation_token)%>">Activate !</a>
    </p>

    <p>
      If you can't click the link, copy and paste this URL into your browser:
      Link => <%= activate_users_url(:activation_token => @user.activation_token)%>
    </p>

    <p>
    </p>
  </body>
</html>
