/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url("https://fonts.googleapis.com/css?family=Raleway|Bungee+Inline");

 * {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     vertical-align: baseline;
     text-decoration: none;
     box-sizing: border-box;
     font-family: "Bungee Inline", cursive;
     background: inherit;
 }
 button {
    background: none;
	cursor: pointer;
 }
 a {
    background: none;
	color: inherit;
 }
 ul {
    list-style: none;
 }
 body {
    font-size: 16px;
    font-weight: 500px;
    color: black;
    background: #6e6c6c;
 }
.header a {
    display: block;
    padding: 10px 15px;
    font-size: 30px;
 }
.header-list {
    display: flex;
    padding-top: 5px;
 }
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .header-list p {
     padding-right: 30px;
 }
 .header-list form {
     padding-right: 10px;
 }
 .header-logo {
     padding-right: 90px;
 }
 .wrapper {
     display: flex;
     justify-content: center;
 }
 .wrapper li {
     padding: 10px;
     background: darkkhaki;
     border-radius: 25px;
     list-style-type: none;
     margin-left: 10px;
 }
 .wrapper a {
     padding: 10px;
 }
 .wrapper input {
     background: none;
 }
 .button_logout {
     background-color: white;
     border: none;
     border-radius: 5px;
     color: #333;
     padding: 5px 18px;

 }
 .input_silver input[type="text"] {
     background: darkkhaki;
 }
 input {
     background: whitesmoke;
     border-radius: 5px;
 }
 #email {
    border-radius: 5px;
    margin-top: 10px;
 }
 #password {
     border-radius: 5px;
     margin-top: 10px
 }
 .page-header {
     display: flex;
     justify-content: center;
     color: #335b99;
     font-size: 40px;
     font-weight: bolder;
     padding: 10px;
 }
 .page-header-header {
    display: flex;
    justify-content: center;
    color: #335b99;
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
 }
 #select_bands {
     color: salmon;
     background: gold;
     border-radius: 5mm;

 }
 #albums_name {
     border-radius: 5px;
 }
 #select_bands:hover option {
     color: red;
 }
 #album_live_f {
     margin: .7rem;
     background: gold;
 }
 #album_live_t {
     margin: .7rem;
     background: gold;
 }
 #create_button {
     border-radius: 5px;
     padding: 5px;
 }
 .form input[type="submit"] {
     display: flex;
     align-self: flex-end;
 }
 .list-album {
     display: flex;
     justify-content: center;
     border-radius: 5px;
     color: red;
     font-weight: bolder;
     font-size: 19px;
 }
 .no_albums {
     color: red;
     display: flex;
     justify-content: center;
     cursor: pointer;
 }
 .no_albums:hover  {
     color:rgba(223, 255, 0, 0.2);
     animation: no_albums_move 5s;
 }
 @keyframes no_albums_move {
     from {top: 0px; color: darkgoldenrod;}
     to {top: 200px; color: burlywood}
 }
 h4 {
     font-weight: bold;
     font-size: 20px;
     color: orange;
     display: flex;
     justify-content: center;
     padding-top: 10px;

 }
 .form {
     display: flex;
     flex-direction: column;
     width: 400px;
     font-size: 18px;
     margin-top: 15px;
 }
 body {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 #lyrics_track {
    color: gold;
    background: #2f2f2f;
 }
 #error-catching {
     color: red;
     list-style-type: none;
 }
 .track_title {
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 30px;
     color: gold;
 }
 #lyrics {
     padding-top: 30px;
 }
 #create_butt {
     padding-right: 4px;
 }
 #header-note {
     color: orange;
     padding-top: 20px;
     font-size: large;

 }
 #tracks_title {
     border-radius: 6px;
     background: gold;
 }
 #ord_tracks {
     border-radius: 6px;
     background: gold;
 }
 #success-catching {
    color: green;
    list-style-type: none;
 }
 .note-item p {
    margin-top: 5px;
    margin-bottom: 2px;
 }
 #note-item-special {
     background: rgb(211, 88, 88);
 }
 #note-item-specific {
    margin: 10px;
 }
 .note-item-info {
     font-size: 14px;
 }
 .list-album {
     padding-bottom: 20px;
 }
 .form-delete {
     display: flex;
     justify-content: flex-end;
     flex-direction: column;
     background: dodgerblue !important;
     border-radius: 5px;
 }
 #content_note {
     display: flex;
     justify-content: center;
 }
 textarea {
     background: whitesmoke;
     border-radius: 5px;
 }
 .form input {
     margin: -20px;
 }
 #content_note {
    width: 258px;
    height: 54px;
    margin: 0px;
 }
 #header-note {
     padding: 30px;
 }
 #notice-catching {
    color: yellow;
    list-style-type: none;
 }
 #admin-panel-title {
     font-size: 30px;
     color: red;
     padding-bottom: 15px;
 }
 .input-group-btn {
     margin-top: 10px;
 }
 /* @media only screen and (min-width: 400px) {
     body {
         background-color: #6e6c6c;
     }
 } 
 @media only screen and (min-width: 800px) {
     body {
         background-color: lavender;
     }
     input {
         background-color: lightslategray;
     }
 }
 @media screen and (max-width: 690px) {
     body {
         background-color: lightgreen;
     }
 } */
 .like:after {
     content: " 👍";
 }
 .uplike:after {
     content: " 👎";
 }